{% load static %}

<footer id="footer">
    <div class="container">
        <div class="footer__level-1">
            <div class="level-1__logo">
                <a href="/">
                    <img src="{% static 'images/sfilm-logo-white.png' %}" alt="">
                </a>
            </div>
            <nav class="level-1__nav">
                <ul>
                    <li class="level-1__nav-link-box">
                        <a href="#" class="level-1__nav-link">Home</a>
                    </li>
                    <li class="level-1__nav-link-box">
                        <a href="#" class="level-1__nav-link">Movies</a>
                    </li>
                    <li class="level-1__nav-link-box">
                        <a href="#" class="level-1__nav-link">Actors</a>
                    </li>
                    <li class="level-1__nav-link-box">
                        <a href="#" class="level-1__nav-link">Directors</a>
                    </li>
                </ul>
            </nav>
            <div class="level-1__social">
                <ul>
                    <li class="level-1__social-link-box">
                        <a href="#" class="level-1__social-link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="level-1__social-link-box">
                        <a href="#" class="level-1__social-link">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="level-1__social-link-box">
                        <a href="#" class="level-1__social-link">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>