{% load static %}

<header id="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__logo">
                <a href="/">
                    <img src="{% static 'images/sfilm-logo.png' %}" alt="">
                </a>
            </div>
            <nav class="header__nav">
                <ul>
                    <li class="header__nav-link-box">
                        <a href="#" class="header__nav-link">Home</a>
                    </li>
                    <li class="header__nav-link-box">
                        <a href="#" class="header__nav-link">Movies</a>
                    </li>
                    <li class="header__nav-link-box">
                        <a href="#" class="header__nav-link">Actors</a>
                    </li>
                    <li class="header__nav-link-box">
                        <a href="#" class="header__nav-link">Directors</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>