@keyframes nav-hover {
    0% {
        height: 2px;
        transform: scaleX(0);
    }

    50% {
        height: 2px;
        transform: scaleX(1);
    }

    100% {
        height: 100%;
        transform: scaleX(1);
    }
}

@keyframes nav-hover-back {
    0% {
        height: 100%;
        transform: scaleX(1);
    }

    50% {
        height: 2px;
        transform: scaleX(1);
    }

    100% {
        height: 2px;
        transform: scaleX(0);
    }
}