// Colors
$c-bg: #0a0a0a;
$c-black: #000;
$c-white: #fff;
$c-primary-red: #ff3023;

// Fonts
$primary-font: sans-serif;
$default-font: sans-serif;

// Font size
$f-size-sm: 12px;
$f-size-md: 16px;
$f-size-lg: 24px;
$f-size-xlg: 52px;

// Transition
$t-default: all 0.2s ease;
$t-onload: all 0.5s ease;

// Breakpoints
$lg: 1200px;
$md: 768px;
$sm: 450px;
